@mixin rings($duration, $delay, $color) {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border: 2px solid $color;
  border-radius: 100%;
  animation-name: badge_ripple;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
  z-index: -1;
}

.dot__badge {
  height: 18px;
  width: 18px;
  color: $lightSilver;
  border-radius: 50%;
  position: relative;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border: 2px solid;
  &::before {
    @include rings(2s, 0s, inherit);
  }
  &::after {
    @include rings(2s, 0.5s, inherit);
  }
}

@keyframes badge_ripple {
  from {
    opacity: 1;
    transform: scale3d(1.2, 1.2);
  }

  to {
    opacity: 0;
    transform: scale3d(2.5, 2.5, 1);
  }
}
