@mixin fonts-source($size: false, $colour: false, $weight: false, $ls: false, $ff : false ) {
    @if $size {
        font-size: $size;
    }

    @if $colour {
        color: $colour;
    }

    @if $weight {
        font-weight: $weight;
    }

    @if $ls {
        letter-spacing: $ls;
    }

    @if $ff {
        font-family: $ff;
    }
}