@font-face {
    font-family: 'Proxima Nova Alt ExCn Rg';
    src: url('./ProximaNovaAExCn-Regular.woff2') format('woff2'),
        url('./ProximaNovaAExCn-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
