.scaleUpDiv {
    animation: scaleUpDiv 0.5s both;
}

@keyframes scaleUpDiv {
    0% {
        opacity: 0;
        transform: scale3d(.8, .8, .8);
    }
}

.scaleUpDiv1 {
    animation: scaleUpDiv1 1s both;
}

@keyframes scaleUpDiv1 {
    0% {
        opacity: 0;
        transform: scale3d(1.3, 1.3, 1.3);
    }
}

.moveInputText {
    animation: moveInputText 1s ease-in-out forwards;
    transform: translateY(-50%);
} 

@keyframes moveInputText {
    from {
        transform: translateY(-50%);
    }

    to {
        transform: translateY(0);
    }
}