.divAnimation {
    animation: divAnimation 1s ease-in-out;
}

@keyframes divAnimation {
    0% {
        transform: translate(100%, -100%);
    }
 
    30% {
        transform: translate(0%, 0%);
    }
}

.scaleUpDiv {
    animation: scaleUpDiv 0.5s cubic-bezier(.39, .575, .565, 1.000) both;
}

@keyframes scaleUpDiv {
    0% {
        transform: scale(.5)
    }

    100% {
        transform: scale(1)
    }
}

.scaleDownDiv {
    animation: scaleDownDiv 0.5s cubic-bezier(.39, .575, .565, 1.000) both;
}

@keyframes scaleDownDiv {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(0.8)
    }

    100% {
        transform: scale(1)
    }
}