$primary: #02b89d;
$lightSilver: #d8d8d8;

.tab {
  height: auto;
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid $lightSilver;
  text-align: center;
}

.tab:hover {
  cursor: pointer !important;
  color: $primary;
  background-color: rgba(2, 184, 157, 0.116);
  border-bottom: 2px solid $primary;
}

.active {
  border-bottom: 2px solid $primary;
  color: $primary;
}

.tab__ripple {
  width: 10%;
  opacity: 0;
  height: 48px;
  position: absolute;
  transform: scale(0);
  border-radius: 30px;
  animation: ripple 0.7s;
  background-color: rgba(2, 184, 157, 0.473);
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }

  to {
    opacity: 0;
    transform: scale(1);
  }
}