.stickyHeaderCell {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stickyTableBody {
  display: block;
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}

.stickyDataCells {
  position: sticky;
  left: 0;
  background-color: white;
  z-index: 1;
}

/* Table.module.scss */

/* Add the following styles */
.table_container {
  overflow-x: auto; /* Enable horizontal scrolling */
}

thead th {
  /* Set a fixed width for the header cells except for the action column */
  width: 200px; /* You can adjust this value as per your requirements */
}

/* Styling for the sticky action column */
.sticky_action_column {
  position: sticky;
  right: 0;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.scrollable-table {
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: calc(100vh - 100px); /* Set the maximum height of the container */
}
