@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.tooltip_animateSlideDown:hover::after {
  animation: slideDownafter 0.5s ease-out both;
}
.tooltip_animateSlideDown:hover::before {
  animation: slideDown 0.5s ease-out both;
}

@keyframes slideDown {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
@keyframes slideDownafter {
  0% {
    transform: translate(-50%, -150%) rotate(135deg);
  }
  100% {
    transform: translate(-50%, 0) rotate(135deg);
  }
}

.tooltip_animateSlideUp:hover::after {
  animation: slideUpafter 0.5s ease-out both;
}
.tooltip_animateSlideUp:hover::before {
  animation: slideUp 0.5s ease-out both;
}

@keyframes slideUp {
  0% {
    transform: translate(-50%, 50%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
@keyframes slideUpafter {
  0% {
    transform: translate(-50%, 150%) rotate(-45deg);
  }
  100% {
    transform: translate(-50%, 0) rotate(-45deg);
  }
}

.tooltip_animateSlideRight:hover::after {
  animation: slideRightafter 0.5s ease-out both;
}
.tooltip_animateSlideRight:hover::before {
  animation: slideRight 0.5s ease-out both;
}

@keyframes slideRight {
  0% {
    transform: translate(-12%, -50%);
  }
  100% {
    transform: translate(0, -50%);
  }
}
@keyframes slideRightafter {
  0% {
    transform: translate(-150%, -50%) rotate(45deg);
  }
  100% {
    transform: translate(0, -50%) rotate(45deg);
  }
}

.tooltip_animateSlideLeft:hover::after {
  animation: slideLeftafter 0.5s ease-out both;
}
.tooltip_animateSlideLeft:hover::before {
  animation: slideLeft 0.5s ease-out both;
}

@keyframes slideLeft {
  0% {
    transform: translate(12%, -50%);
  }
  100% {
    transform: translate(0, -50%);
  }
}
@keyframes slideLeftafter {
  0% {
    transform: translate(150%, -50%) rotate(-135deg);
  }
  100% {
    transform: translate(0, -50%) rotate(-135deg);
  }
}
