@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("../public/styles/fonts/font.css");

.tooltip_animateSlideDown:hover::after {
  animation: tooltip_slideDownafter 0.5s ease-out both;
}
.tooltip_animateSlideDown:hover::before {
  animation: tooltip_slideDown 0.5s ease-out both;
}

@keyframes tooltip_slideDown {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
@keyframes tooltip_slideDownafter {
  0% {
    transform: translate(-50%, -150%) rotate(135deg);
  }
  100% {
    transform: translate(-50%, 0) rotate(135deg);
  }
}

.tooltip_animateSlideUp:hover::after {
  animation: tooltip_slideUpafter 0.5s ease-out both;
}
.tooltip_animateSlideUp:hover::before {
  animation: tooltip_slideUp 0.5s ease-out both;
}

@keyframes tooltip_slideUp {
  0% {
    transform: translate(-50%, 50%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
@keyframes tooltip_slideUpafter {
  0% {
    transform: translate(-50%, 150%) rotate(-45deg);
  }
  100% {
    transform: translate(-50%, 0) rotate(-45deg);
  }
}

.tooltip_animateSlideRight:hover::after {
  animation: tooltip_slideRightafter 0.5s ease-out both;
}
.tooltip_animateSlideRight:hover::before {
  animation: tooltip_slideRight 0.5s ease-out both;
}

@keyframes tooltip_slideRight {
  0% {
    transform: translate(-12%, -50%);
  }
  100% {
    transform: translate(0, -50%);
  }
}
@keyframes tooltip_slideRightafter {
  0% {
    transform: translate(-150%, -50%) rotate(45deg);
  }
  100% {
    transform: translate(0, -50%) rotate(45deg);
  }
}

.tooltip_animateSlideLeft:hover::after {
  animation: tooltip_slideLeftafter 0.5s ease-out both;
}
.tooltip_animateSlideLeft:hover::before {
  animation: tooltip_slideLeft 0.5s ease-out both;
}

@keyframes tooltip_slideLeft {
  0% {
    transform: translate(12%, -50%);
  }
  100% {
    transform: translate(0, -50%);
  }
}
@keyframes tooltip_slideLeftafter {
  0% {
    transform: translate(150%, -50%) rotate(-135deg);
  }
  100% {
    transform: translate(0, -50%) rotate(-135deg);
  }
}
