//Main
.tooltip {
    position: relative;
    cursor: pointer;
    padding: 7px;
    font-size: 21px;
    font-weight: bold;
}


//Top
.tooltipTextTop {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #BCF1E8;
    border: 1px solid #02B89D;
    border-radius: 4px;
    color: #333333;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;    
}

.tooltipTextTop::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #BCF1E8 #0000 #0000 #0000
}

.tooltip:hover .tooltipTextTop {
    top: -130%;
    visibility: visible;
    opacity: 1;
}


//Bottom
.tooltipTextBottom {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: #BCF1E8;
    border: 1px solid #02B89D;
    border-radius: 4px;
    color: #333333;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.tooltipTextBottom::before {
    content: "";
    position: absolute;
    right: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    rotate: 180deg;
    border: 15px solid;
    border-color: #BCF1E8 #0000 #0000 #0000
}

.tooltip:hover .tooltipTextBottom {
    bottom: -130%;
    visibility: visible;
    opacity: 1;
}



//Left
.tooltipTextLeft {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: #BCF1E8;
    border: 1px solid #02B89D;
    border-radius: 4px;
    color: #333333;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.tooltipTextLeft::before {
    content: "";
    position: absolute;
    right: 50%;
    bottom: 100%;
    transform: translateX(-100%);
    rotate: 270deg;
    border: 15px solid;
    border-color: #000 #0000 #0000 #0000
}

.tooltip:hover .tooltipTextLeft {
    left: -130%;
    visibility: visible;
    opacity: 1;
}


//Right
.tooltipTextRight {
    position: absolute;
    left: 100%; 
    bottom: 0;
    transform: translateX(-50%);
    background-color: #BCF1E8;
    border: 1px solid #02B89D;
    border-radius: 4px;
    color: #333333;
    white-space: nowrap;
    padding: 10px 15px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.tooltipTextRight::before {
    content: "";
    position: absolute;
    right: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    rotate: 90deg;
    border: 15px solid;
    border-color: #000 #0000 #0000 #0000
}

.tooltip:hover .tooltipTextRight {
    right: -130%;
    visibility: visible;
    opacity: 1;
}