@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("/public/styles/fonts/font.css");

/* Button css */
/* @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  } */

.bg-transparent {
  background-color: "transparent";
}

