input[type=text]:focus {
    border: none;
    box-shadow: inset 0 -1px 0 0 #64DBC9;
}

input[type=text] {
    padding-left: 0px;
    border: none;
    border-radius: 0;
}

.borderBottom {
    position: relative;
}

.borderBottom::after {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 0;
    height: 0px;
    border-bottom: 1px solid #64DBC9;
    transition: width 0.5s linear;
}

.borderBottom:hover::after {
    width: 100%;
}

.labelSelected {
    color: #64DBC9;
}

.labelDefault {
    color: #333333;
}

.placeholderSelected::placeholder {
    color: #64DBC9;
}

.placeholderDefault::placeholder {
    color: #333333;
}

.listItem {
    display: flex;
    align-items: center;
    margin: 0px 10px;
    height: 35px;
    cursor: pointer;

    .dropdownCheckbox {
        margin-right: 8px;
        margin-left: 10px;
    }
}

.listItem:hover {
    background-color: #F6F6F6;
}

.listSpan {
    display: flex;
    margin-left: 10px;
}

.listIcon {
    margin-right: 5px;
}

.activeItem {
    background-color: #F6F6F6;
}

.activeItem:hover {
    background-color: #F6F6F6;
}

.dropdownItems {
    display: block;
    position: absolute;
    top: 89%;
    padding: 5px 0;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    z-index: 1;
}

.cardMain {
    width: 300px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.spanIcon {
    position: absolute;
    right: 10px;
    top: 15%;
    z-index: 10;
    cursor: pointer;
}

.spanIconRotate {
    rotate: 180deg;
}

.chips {
    display: flex;
    border-bottom: 1px solid #64DBC9;
    padding: 3.5px;
    height: fit-content;

}

.chip {
    // display: flex;
    align-items: center;
    margin: 2px;
    padding: 2px 6px;
    background-color: #E9ECEF;
    border-radius: 1px;
    font-size: 14px;
}

.chipClose {
    margin-left: 8px;
    cursor: pointer;
    color: #888;
}

.chipClear {
    margin: 0px 10px;
    padding-left: 10px;
    cursor: pointer;
    // color: #888;
    color: #64DBC9;

}

.chipClear:hover,
.chipClose:hover {
    color: #000;
}

.chipCount {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px;
    background-color: #E9ECEF;
    border-radius: 1px;
    font-size: 14px;
    padding: 0px 4px;
}