.stickyHeaderCell {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stickyTableBody {
  display: block;
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}

.stickyDataCells {
  position: sticky;
  left: 0;
  background-color: white;
  z-index: 1;
}

.table_container {
  overflow-x: auto; 
}

thead th {
  width: 200px; 
}

.sticky_action_column {
  position: sticky;
  z-index: 1;
  right: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.scrollable-table {
  overflow-y: auto; 
  max-height: calc(100vh - 100px); /* Set the maximum height of the container */
}
